<!DOCTYPE html>

<html>
    <head>
        <title>EUSA Members API</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/index.css" rel="stylesheet">
        <link href="/static/compsoc-icon.png" rel="icon">
    </head>

    <body>
        <nav>
            <div class="nav__brand">
                <img src="/static/compsoc-icon.png" alt="compsoc icon"/>
                <span class="nav__title">EUSA Members API</span>
            </div>
            <div class="nav__login">
                <span class="nav__name"><%= user.name %></span>
                <img src="<%= user.photo %>" alt="<%= user.name %> photo"/>

                <a class="nav__logout" href="/auth/logout">
                    <span>logout</span>
                </a>
            </div>
        </nav>
        <main>
            <h1> Dashboard </h1>

            <p> General information about the Members API.</p>

            <ul>
                <li> Login email: <strong><%= user.email %></strong> (<%= user.email_verified ? 'verified' : 'nnot verified' %>) </li>
                <li>Last scrape: <span class="mono"> <%= latest.date %></span></li>
                <li>Last render: <span class="mono"> <%= render_time %></span></li>
                <li>Member count: <span class="numeric"> <%= latest.members.length %></span></li>
            </ul>

            <details>
                <summary>Developer</summary>
                <ul>
                    <li>Current API key: <span class="mono"><%= apikey %></span></li>
                    <li>Sendy installation: <a href="<%= sendy.url %>"><%= sendy.url %></a></li>
                    <li> Sendy list: <span class="mono"><%= sendy.list %></span></li>
                </ul>
            </details>

            <h1> Synchronization </h1>

            <p>
                <a href="/dashboard/rescrape">Rescrape &rarr;</a> <br/>
                <a href="/dashboard/sendy_sync">Sync with Sendy &rarr;</a>
            </p>

            <h1> Exports </h1>

            <details>
                <summary>JSON Export</summary>
                <button type="button" data-selects="jsonexport">Select all</button>
                <button type="button" data-copies="jsonexport">Copy to clipboard</button>

                <code id="jsonexport"><pre><%- JSON.stringify(latest, null, 4) %></pre></code>
            </details>

            <details>
                <summary>CSV Export</summary>
                <button type="button" data-selects="csvexport">Select all</button>
                <button type="button" data-copies="csvexport">Copy to clipboard</button>

                <code id="csvexport"><pre><%- csv %></pre></code>
            </details>

            <h1> Current Member List </h1>

            <p>
            Last scrape: <span class="mono"> <%= latest.date %></span>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th style="text-align: left">Student No.</th>
                        <th>Joined</th>
                        <th>Expires</th>
                    </tr>
                </thead>
                <tbody>
                    <%- latest.members.map(m => `
                        <tr>
                            <td>${m.name.original}</td>
                            <td class="numeric"><a href="mailto:s${m.student}@ed.ac.uk">${m.student}</a></td>
                            <td class="numeric">${m.joined.split('T')[0]}</td>
                            <td class="numeric">${m.expires.split('T')[0]}</td>
                        </tr>`).join('')
                    %>
                </tbody>
            </table>
        </main>

        <script src="/static/dashboard.js" type="text/javascript"></script>
    </body>
</html>

